.playerHand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);

  // background-color: #382300;
  // background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ //uncomment to see player hand space
}

.playable,
.playing-card {
  max-height: 120px;
  width: auto;
  margin: 2px;
  z-index: 1;
  box-shadow: 2px 2px 1px #000;
}
.playable:hover {
  max-height: 130px;
  // border: solid $col2 2px;
  width: auto;
  margin: 2px;
  box-shadow: 2px 2px 4px #000;
  cursor: pointer;
}
