#game-container {
  background-color: #382300;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  position: relative;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;

  //Mobile view will only show player cards and the board
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: 1fr 19fr 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  overflow: hidden;

  #scoreboard {
    th {
      border-top: none;
    }
    margin-right: 5%;
    margin-left: 5%;
    grid-row: 2;
    display: none;
    grid-column: 3;
    color: white;
    height: 150px;
    width: 230px;
    background-color:rgba(61, 30, 0, 0.335);
    box-shadow: inset 0px 0px 10px #000;
    border-radius: 0.5em;
    @media screen and (min-width: $break) {
      display: block;
    }
  }

  #p1Area {
    grid-row-start: 3;
    grid-column: 1/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: scroll;
  }
  #p2Area {
    grid-row-start: 1;
    grid-column: 1/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    // background-color: coral; //uncomment to see r area
  }

  #table-area-goof {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #5b885b;
    box-shadow: inset 2px 2px 25px #000;
    color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    #p1pendingCard {
      position: absolute;
      transform: translatey(140px);
    }
    #p2pendingCard {
      position: absolute;
      transform: translatey(-140px);
    }

    #player1Text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    #player2Text {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      margin-top: 10px;
    }

    .myProgressBar {
      width: 80%;
    }

    #background-text {
      position: absolute;
      color: lightgray;
      font-size: 4em;
    }
  }

  #table-area-war {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #5b885b;
    box-shadow: inset 2px 2px 25px #000;
    color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;

    #player1Text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
    }
    #player2Text {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
    }

    .myProgressBar {
      width: 80%;
    }

    #background-text {
      position: absolute;
      color: lightgray;
      font-size: 4em;
    }
  }

  #end-game-header {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    color: lavender;
  }
  #end-game-table {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 100px;
    color: azure;
  }
  #remove-game {
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
    height: 50px;
    top: 150px;
  }
  @media screen and (min-width: $break) {
    position: absolute;
    left: 20%;
    width: 80%;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
