#game-container {
  background-color: $bgCol;
  position: relative;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;

  //Mobile view will only show player cards and the board
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: 1fr 19fr 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  overflow: hidden;

  #p1Area {
    grid-row-start: 3;
    grid-column: 1/4;
    background-color: coral;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  #p2Area {
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: coral;
  }
  #p3Area {
    grid-row-start: 2;
    grid-column-start: 3;
    background-color: coral;
  }
  #p4Area {
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: coral;
  }
  #tableArea {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: $col4;
    color: lightblue;
  }

  @media screen and (min-width: $break) {
    position: absolute;
    left: 25%;
    width: 75%;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
