#menu-bars {
  height: auto;
  position: absolute;
  display: inline-block;
  width: 20px;
  align-self: unset;
  // margin: 10px 10px 10px 10px;
  z-index: 3000;

  @media screen and (min-width: $break) {
    display: none;
  }
}

nav {
  color: white;
  background-color: #47628c;
  display: flex;
  overflow-y: scroll;
  flex-flow: column;
  justify-content: flex-start;
  align-items: left;
  align-content: flex-start;
  width: 60%;
  padding-top: 2%;
  height: 100%;
  top: 0;
  z-index: 500;
  position: absolute;

  #logo {
    width: 90%;
    padding: 5%
  }

  .selected {
    //Styling for the current screen
    background-color: #5b885b;
    border-radius: 1em;
  }

  .select-game {
    border-radius: 1em;
  }

  li {
    max-width: max-content;
    font-size: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  li:hover {
    border-radius: 1em;
    cursor: pointer;
    background-color: #92bfe1;
  }

  hr {
    border-top: 0.15em solid lightgray;
    width: 90%;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }

  &.hidden {
    opacity: 0%;
    left: -500px;
  }

  @media screen and (min-width: $break) {
    font-size: 1.5em;

    background-color: navCol;
    width: $navWidthLarge;
    padding-top: 0%;
    // padding-left: 2%;
    //Hidden property should not affect desktop view
    &.hidden {
      opacity: 100%;
      left: 0px;
    }
  }

  h1 {
    font-size: 1em;
    display: flex;
  }

  #profile {
    // width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    background-color: #556f99;
    border-radius: 0.5em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;

    #username {
      // margin-top: 1em;
      font-size: 1.5em;
      color: #92bfe1;
      margin-right: 5%;
      margin-left: 5%;
    }
  }

  #buttons {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin-right: 10%;
      justify-content: center;

      #leaderboard {
        // width: 100%;
        font-size: 0.5em;
        background-color: #d38d5f;
        margin-bottom: 4%;
        text-align: center;
      }

      #user-history-button {
        margin-top: 10%;
        // width: 100%;
        font-size: 0.5em;
        background-color: #d38d5f;
        margin-bottom: 4%;
        margin-top: 4%;
      }

      #logout-button {
        width: 100%;
        font-size: 0.5em;
        margin-top: 0;
        margin-bottom: 4%
      }
    }

  ul {
    list-style-type: none;
    background-color: #556f99;
    border-radius: 0.5em;
    margin-left: 3%;
    margin-right: 3%;
  }

  .menu-list {
    .menu-title {
      width: 100%;
      margin-top: 0.5em;
      margin-left: 0.3em;
    }

    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: left;
    justify-content: space-around;
  }
}
