#login-body {

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    // background-image: url("https://imgur.com/a/dP91SUU");


    .login-logo {
      margin-top: 1%;
      margin-left: 2%;
      margin-right: 2%;
      width: 60%;
    }

    .signup {
    font-size: 0.5em;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1em;
    background-color: #47628c;
    border-radius: 0.5em;
    box-shadow: 3px 3px 15px #888;
    height: auto;
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

      .signup-title {
        color: lavender;
      }

      .signup-redirect {
        font-size: 2em;
        border: none;
        background: none;
        padding: 1em;
        color: lavender;
        outline: none;
        float: right;
      }

      :hover.signup-redirect {
        color: #92bfe1;
      }
    }

  .sign-up-form,
  .registration-form {
    display: flex;
    width: auto;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 2em;
    input {
      width: 100%;
    }

    p {
      font-size: small;
      color: red;
    }
  }

  @media screen and (min-width: $break) {

    flex-direction: row;

    .login-logo {
      width: auto;
      height: 25%;

    }

    .signup {
      font-size: 0.7em;
      margin-top: 1%;
      width: auto;

    .signup-redirect {
      font-size: 1.2em;
    }
    }
  }
}

