#registration-body {
  display: flex;
  align-content: center;
  justify-content: center;
}

.sign-up-form,
.registration-form {
  display: flex;
  width: 30%;
  height: 30%;
  margin-top: 10%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  background-color: coral;
  border-radius: 0.5em;
  input {
    width: 100%;
  }

  p {
    font-size: small;
    color: red;
  }
}
