//Constants:
$break: 1024px;
// $labelheight: 10px;
$navWidthMobile: 30%;
$navWidthLarge: 20%;
$labelheight: 10px;
//Color scheme
$col1: #d55b4a;
$col2: #d0b16b;
$bgCol: #6b5140;
$col4: #46609f;
$col5: #b47570;
$col6: #423f40;
$navCol: #c7c2b5;

@import "./registration.scss";
@import "./nav.scss";
@import "./gameboard.scss";
@import "./leaderboard.scss";
@import "./profile.scss";
@import "./components.scss";

body {
  background-color: white;
  height: 100%;

  h1 {
    color: #244751;
  }
}
html,
#main-content {
  height: 100%;
  width: 100%;
  #landing-container {
    background-color: #382300;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: grid;

    #logo-body {
      position: absolute;
      // margin-top: 10%;
      // margin-left: 25%;
      width: 50%;
    }

    //Mobile view will only show player cards and the board
    grid-template-columns: 1fr 28fr 1fr;
    grid-template-rows: 1fr 19fr 10fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    overflow: hidden;

    #p1Area {
      grid-row-start: 3;
      grid-column: 1/4;
      // background-color: coral; //uncomment to see player area
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      p {
        // height: $labelheight;
        position: absolute;
        top: 0; //-$labelheight;
        color: lavender;
      }
    }
    #p2Area {
      grid-row-start: 1;
      grid-column-start: 2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      // background-color: coral; //uncomment to see player area
      p {
        // height: $labelheight;
        position: absolute;
        bottom: 0; //-$labelheight;
        color: lavender;
      }
    }

    #table-area-goof {
      grid-row-start: 2;
      grid-column-start: 2;
      background-color: #5b885b;
      box-shadow: inset 2px 2px 25px #000;
      color: white;
      border-radius: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      .myProgressBar {
        width: 80%;
      }

      #background-text {
        position: absolute;
        color: lightgray;
        font-size: 4em;
      }
    }
    #end-game-header {
      grid-row-start: 1;
      grid-column-start: 2;
      display: flex;
      margin-top: 10px;
      justify-content: center;
      align-content: center;
      color: lavender;
    }
    #end-game-table {
      grid-row-start: 2;
      grid-column-start: 2;
      height: 100px;
    }
    #remove-game {
      grid-row-start: 2;
      grid-column-start: 2;
      position: relative;
      height: 50px;
    }
    @media screen and (min-width: $break) {
      position: absolute;
      left: 20%;
      width: 80%;

      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}

p {
  text-align: center;
}

#alert {
  opacity: 0;
  position: fixed;
  z-index: 3;
  margin-top: 50px;
  width: auto;
  left: $navWidthMobile;

  @media screen and (min-width: $break) {
    left: $navWidthLarge;
  }
}
