<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home Page</title>

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="./vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="./vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Vendor JS (JQuery, popper, bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="./styles/layout.css" type="text/css" />

  <!-- Custom JS -->
  <script type="text/javascript" src="./scripts/app.js"></script>

</head>

<body>


  <input id="menu-bars" type="image" src="./images/menu-bars.png" />

  <nav id='navbar'>
    <!-- <h1> Grandfather's Coffee Table</h1> -->
    <div id="profile">
      <p> Username </p>
      <img id="profile-img" src="./images/user.png">
      <form action="/logout" method="post">
        <input type="submit" name="logout" value="Logout" class="btn btn-outline-light" />
      </form>
    </div>
    <hr>
    <p class="text-center"> High Scores</p>

    <div id="game-list" class="menu-list">
      <hr>
      <h2> Active games </h2>
      <!-- This list is dynamically generated -->
      <ul>
        <li>Game 1 - Goofspiel</li>
        <li>Game 2 - Goofspiel</li>
        <li>Game 3 - War</li>
      </ul>
      <hr>
    </div>

    <div id="create-game" class="menu-list">
      <button type="button" class="btn btn-primary">Join game</button>
      <ul>
        <li> Goofspiel</li>
        <li>Join war</li>
        <li>Join sevens</li>
        <li>Join slapjack</li>
      </ul>
    </div>

  </nav>

  <div id="game-container">
    <div id="tableArea">
      The table
    </div>
    <div id="p1Area">
      <div class="playerHand">
        <img src="./images/cards/PNG/2C.png" class='card img-fluid ui-widget-content' id="2C">
        <img src="./images/cards/PNG/2H.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
        <img src="./images/cards/PNG/AD.png" class='card img-fluid'>
      </div>
    </div>
    <div id="p2Area">
      Player 2
    </div>
    <div id="p3Area">
      Player 3
    </div>
    <div id="p4Area">
      Player 4
    </div>
  </div>


</body>

</html>
