<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Home Page</title>

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="./vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="./vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Vendor JS (JQuery, popper, bootstrap,socket.io) -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>


  <!-- Custom CSS -->
  <link rel="stylesheet" href="./styles/layout.css" type="text/css" />

  <!-- Custom JS -->
  <script type="text/javascript" src="./scripts/helpers.js"></script>
  <script type="text/javascript" src="./scripts/app.js"></script>
  <script type="text/javascript" src="./scripts/components/leaderboard.js"></script>
  <script type="text/javascript" src="./scripts/components/war.js"></script>
  <script type="text/javascript" src="./scripts/components/goofspiel.js"></script>
  <script type="text/javascript" src="./scripts/components/profile.js"></script>
  <script type="text/javascript" src="./scripts/views_manager.js"></script>

</head>

<body>


  <input id="menu-bars" type="image" src="./images/menu-bars.png" />


  <nav id='navbar'>
    <!-- <h1> Grandfather's Coffee Table</h1> -->


    <div id="profile">
      <p id="username"></p>
      <form action="/logout" method="post">
        <input id="logout-button" type="submit" name="logout" value="Logout" class="btn btn-outline-light" />
      </form>
    </div>
    <!-- <hr> -->

    <div id="stats-buttons">
      <input id="user-history-button" type="button" name="Play History" value="Play History"
        class="btn btn-outline-light" />
      <input id="high-scores" type="button" name="Leaderboards" value="Leaderboards" class="btn btn-outline-light" />
    </div>
    <hr>

    <div id="create-game" class="menu-list">
      <h3 class="menu-title">New Game</h3>
      <ul>
        <li class="request-game" id="goofspiel">Goofspiel</li>
        <li class="request-game" id="warr">Warr</li>
        <li class="request-game" id='sevens'>Sevens</li>
      </ul>
    </div>
    <hr>

    <div id="game-list" class="menu-list">
      <h3 class="menu-title"> Active Games </h3>
      <!-- This list is dynamically generated -->
      <ul>
      </ul>
    </div>
  </nav>

  <div class="card text-white bg-info" id="alert">
    <div class="card-body">
      A move has been made in a game
    </div>
  </div>
  <div id='main-content'>

  </div>

</body>

</html>
