<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Registration</title>


  <link rel="stylesheet" href="./vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="./vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="./styles/layout.css" type="text/css" />



</head>

<body id="login-body">

  <img class="login-logo" src="./images/logo.png">

  <div class="signup">
    <form class="registration-form" action="/register" method="POST">

      <h2 class="signup-title">Register</h2>

      <div class="form-group">
        <input type="text" class="form-control" id="inputUsername" placeholder="username" name="username">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="password" name="password">
      </div>


      <% if (!registerAttempt) { %>
      <p>Sorry, that username is already taken!</p>
      <% } %>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form action="/login" method="GET"><button class="signup-redirect">Already have an account? Login!</button></form>
  </div>

</body>

</html>
