#login-body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column; }
  #login-body .login-logo {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: 60%; }
  #login-body .signup {
    font-size: 0.5em;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 1em;
    background-color: #47628c;
    border-radius: 0.5em;
    box-shadow: 3px 3px 15px #888;
    height: auto;
    width: 60%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column; }
    #login-body .signup .signup-title {
      color: lavender; }
    #login-body .signup .signup-redirect {
      font-size: 2em;
      border: none;
      background: none;
      padding: 1em;
      color: lavender;
      outline: none;
      float: right; }
    #login-body .signup :hover.signup-redirect {
      color: #92bfe1; }
  #login-body .sign-up-form,
  #login-body .registration-form {
    display: flex;
    width: auto;
    height: auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 2em; }
    #login-body .sign-up-form input,
    #login-body .registration-form input {
      width: 100%; }
    #login-body .sign-up-form p,
    #login-body .registration-form p {
      font-size: small;
      color: red; }
  @media screen and (min-width: 1024px) {
    #login-body {
      flex-direction: row; }
      #login-body .login-logo {
        width: auto;
        height: 25%; }
      #login-body .signup {
        font-size: 0.7em;
        margin-top: 1%;
        width: auto; }
        #login-body .signup .signup-redirect {
          font-size: 1.2em; } }

#menu-bars {
  height: auto;
  position: absolute;
  display: inline-block;
  width: 20px;
  align-self: unset;
  z-index: 3000; }
  @media screen and (min-width: 1024px) {
    #menu-bars {
      display: none; } }

nav::-webkit-scrollbar {
  display: none; }

nav {
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  color: white;
  background-color: #47628c;
  display: flex;
  overflow-y: scroll;
  flex-flow: column;
  justify-content: flex-start;
  align-items: left;
  align-content: flex-start;
  width: 60%;
  padding-top: 2%;
  height: 100%;
  top: 0;
  z-index: 500;
  position: absolute; }
  nav #logo {
    width: 90%;
    padding: 5%; }
  nav .selected {
    background-color: #5b885b;
    border-radius: 1em; }
  nav .select-game {
    border-radius: 1em; }
  nav li {
    max-width: max-content;
    font-size: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
    margin-top: 4px;
    margin-bottom: 4px; }
  nav li:hover {
    border-radius: 1em;
    cursor: pointer;
    background-color: #92bfe1; }
  nav hr {
    border-top: 0.15em solid lightgray;
    width: 90%;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: 0.5em; }
  nav.hidden {
    left: -650px; }
  @media screen and (min-width: 1024px) {
    nav {
      font-size: 1.5em;
      background-color: navCol;
      width: 20%;
      padding-top: 0%; }
      nav.hidden {
        opacity: 100%;
        left: 0px; } }
  nav h1 {
    font-size: 1em;
    display: flex; }
  nav #profile {
    display: flex;
    align-items: center;
    background-color: #556f99;
    border-radius: 0.5em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%; }
    nav #profile #username {
      font-size: 1.5em;
      color: #92bfe1;
      margin-right: 5%;
      margin-left: 5%; }
  nav #buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    justify-content: center; }
    nav #buttons #leaderboard {
      font-size: 0.5em;
      background-color: #d38d5f;
      margin-bottom: 4%;
      text-align: center; }
    nav #buttons #user-history-button {
      margin-top: 10%;
      font-size: 0.5em;
      background-color: #d38d5f;
      margin-bottom: 4%;
      margin-top: 4%; }
    nav #buttons #logout-button {
      width: 100%;
      font-size: 0.5em;
      margin-top: 0;
      margin-bottom: 4%; }
  nav ul {
    list-style-type: none;
    background-color: #556f99;
    border-radius: 0.5em;
    margin-left: 3%;
    margin-right: 3%; }
  nav .menu-list {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: left;
    justify-content: space-around; }
    nav .menu-list .menu-title {
      width: 100%;
      margin-top: 0.5em;
      margin-left: 0.3em; }

#game-container {
  background-color: #382300;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
  position: relative;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 28fr 1fr;
  grid-template-rows: 1fr 19fr 10fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  #game-container #scoreboard {
    margin-right: 5%;
    margin-left: 5%;
    grid-row: 2;
    display: none;
    grid-column: 3;
    color: white;
    height: 150px;
    width: 230px;
    background-color: rgba(61, 30, 0, 0.335);
    box-shadow: inset 0px 0px 10px #000;
    border-radius: 0.5em; }
    #game-container #scoreboard th {
      border-top: none; }
    @media screen and (min-width: 1024px) {
      #game-container #scoreboard {
        display: block; } }
  #game-container #p1Area {
    grid-row-start: 3;
    grid-column: 1/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: scroll; }
  #game-container #p2Area {
    grid-row-start: 1;
    grid-column: 1/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative; }
  #game-container #table-area-goof {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #5b885b;
    box-shadow: inset 2px 2px 25px #000;
    color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center; }
    #game-container #table-area-goof #p1pendingCard {
      position: absolute;
      transform: translatey(140px); }
    #game-container #table-area-goof #p2pendingCard {
      position: absolute;
      transform: translatey(-140px); }
    #game-container #table-area-goof #deck {
      height: 120px;
      width: auto;
      left: 0;
      position: absolute;
      bottom: 0;
      margin: 1em; }
    #game-container #table-area-goof #player1Text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 0.6em; }
    #game-container #table-area-goof #player2Text {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 0.6em; }
    #game-container #table-area-goof .myProgressBar {
      width: 80%; }
    #game-container #table-area-goof #background-text {
      position: absolute;
      color: lightgray;
      font-size: 3em; }
  #game-container #table-area-war {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #5b885b;
    box-shadow: inset 2px 2px 25px #000;
    color: white;
    border-radius: 1em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center; }
    #game-container #table-area-war #p1pendingCard {
      position: absolute;
      transform: translatey(140px); }
    #game-container #table-area-war #p2pendingCard {
      position: absolute;
      transform: translatey(-140px); }
    #game-container #table-area-war #player1Text {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      font-size: 0.6em; }
    #game-container #table-area-war #player2Text {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      font-size: 0.6em; }
    #game-container #table-area-war .myProgressBar {
      width: 80%; }
    #game-container #table-area-war #background-text {
      position: absolute;
      color: lightgray;
      font-size: 3em; }
  #game-container #sevens-text-container {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    align-content: center;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center; }
    #game-container #sevens-text-container #background-text-sevens {
      position: absolute;
      z-index: 1;
      font-size: 3em;
      color: lightgray;
      font-size: 3em;
      width: 100%;
      text-align: center; }
    @media screen and (min-width: 1024px) {
      #game-container #sevens-text-container #background-text-sevens {
        position: absolute;
        color: lightgray;
        font-size: 5em; } }
  #game-container #pass-button {
    grid-column: 3;
    grid-row: 2;
    height: 50px;
    transform: translateY(150px);
    background-color: #d38d5f; }
  #game-container #table-area-sevens {
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: #5b885b;
    box-shadow: inset 2px 2px 25px #000;
    color: white;
    border-radius: 1em;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*
    #p1pendingCard {
      position: absolute;
      transform: translatey(140px);
    }
    #p2pendingCard {
      position: absolute;
      transform: translatey(-140px);
    }
    */
    /*
    #background-text {
      position: absolute;
      grid-row: 2;
      color: lightgray;
      font-size: 3em;
      width: 100%;
      text-align: center;
    }*/ }
    #game-container #table-area-sevens .sevens-table-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      #game-container #table-area-sevens .sevens-table-container#hearts {
        grid-row-start: 1; }
      #game-container #table-area-sevens .sevens-table-container#spades {
        grid-row-start: 2; }
      #game-container #table-area-sevens .sevens-table-container#diamond {
        grid-row-start: 3; }
      #game-container #table-area-sevens .sevens-table-container#clubs {
        grid-row-start: 4; }
    #game-container #table-area-sevens #player1Text {
      width: 200px;
      height: 20px;
      grid-row-start: 4;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      font-size: 0.8em; }
    #game-container #table-area-sevens #player2Text {
      grid-row-start: 1;
      width: 200px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 10px;
      font-size: 0.8em; }
    #game-container #table-area-sevens .myProgressBar {
      width: 80%; }
  #game-container #end-game-header {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    color: lavender; }
  #game-container #end-game-table {
    grid-row-start: 2;
    grid-column-start: 2;
    height: 100px;
    color: azure; }
  #game-container #remove-game {
    grid-row-start: 2;
    grid-column-start: 2;
    position: relative;
    height: 50px;
    top: 150px; }
  @media screen and (min-width: 1024px) {
    #game-container {
      position: absolute;
      left: 20%;
      width: 80%; }
      #game-container #table-area-war #background-text {
        position: absolute;
        color: lightgray;
        font-size: 5em; }
      #game-container #table-area-sevens #background-text {
        position: absolute;
        color: lightgray;
        font-size: 5em; }
      #game-container #table-area-goof #background-text {
        position: absolute;
        color: lightgray;
        font-size: 5em; }
      #game-container #player1Text {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
        font-size: 1em; }
      #game-container #player2Text {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 10px;
        font-size: 1em; } }

::-webkit-scrollbar {
  display: none; }

#leaderboardContainer {
  background-color: #5b885b;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  #leaderboardContainer h1 {
    margin-top: 20px; }
  #leaderboardContainer table {
    margin: 2em;
    width: 70%; }
  @media screen and (min-width: 1024px) {
    #leaderboardContainer {
      position: absolute;
      left: 20%;
      width: 80%;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 1fr 4fr 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }

#matchHistoryContainer {
  background-color: #5b885b;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  flex-flow: column nowrap;
  scroll-behavior: auto;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll; }
  #matchHistoryContainer form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%; }
    #matchHistoryContainer form .form-control {
      width: 200px; }
  #matchHistoryContainer h1 {
    margin-top: 20px; }
  #matchHistoryContainer table {
    margin: 2em;
    align-content: center;
    width: 70%; }
    #matchHistoryContainer table tr:hover {
      background-color: #bee5eb; }
  #matchHistoryContainer #profile-scroll {
    width: 100%;
    height: 100%;
    overflow: scroll; }
  @media screen and (min-width: 1024px) {
    #matchHistoryContainer {
      position: absolute;
      left: 20%;
      width: 80%; } }

.playerHand {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ }

.card-container {
  display: flex; }

.unplayable {
  opacity: 0.5; }

.playable,
.playing-card {
  height: 100px;
  margin: 2px;
  z-index: 1;
  box-shadow: 2px 2px 1px #000; }

.playable:hover {
  height: 120px;
  width: auto;
  margin: 2px;
  box-shadow: 2px 2px 4px #000;
  cursor: pointer; }

@media screen and (min-width: 1024px) {
  .playable,
  .playing-card {
    height: 100px;
    margin: 2px;
    z-index: 1;
    box-shadow: 2px 2px 1px #000; }
  .playable:hover {
    height: 120px;
    width: auto;
    margin: 2px;
    box-shadow: 2px 2px 4px #000;
    cursor: pointer; } }

body {
  background-color: white;
  height: 100%; }
  body h1 {
    color: #244751; }

html,
#main-content {
  height: 100%;
  width: 100%; }
  html #landing-container,
  #main-content #landing-container {
    background-color: #382300;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 28fr 1fr;
    grid-template-rows: 1fr 19fr 10fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden; }
    html #landing-container #logo-body,
    #main-content #landing-container #logo-body {
      position: absolute;
      width: 50%; }
    html #landing-container #p1Area,
    #main-content #landing-container #p1Area {
      grid-row-start: 3;
      grid-column: 1/4;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative; }
      html #landing-container #p1Area p,
      #main-content #landing-container #p1Area p {
        position: absolute;
        top: 0;
        color: lavender; }
    html #landing-container #p2Area,
    #main-content #landing-container #p2Area {
      grid-row-start: 1;
      grid-column-start: 2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative; }
      html #landing-container #p2Area p,
      #main-content #landing-container #p2Area p {
        position: absolute;
        bottom: 0;
        color: lavender; }
    html #landing-container #table-area-goof,
    #main-content #landing-container #table-area-goof {
      grid-row-start: 2;
      grid-column-start: 2;
      background-color: #5b885b;
      box-shadow: inset 2px 2px 25px #000;
      color: white;
      border-radius: 1em;
      display: flex;
      align-items: center;
      justify-content: center; }
      html #landing-container #table-area-goof .myProgressBar,
      #main-content #landing-container #table-area-goof .myProgressBar {
        width: 80%; }
      html #landing-container #table-area-goof #background-text,
      #main-content #landing-container #table-area-goof #background-text {
        position: absolute;
        color: lightgray;
        font-size: 4em; }
    html #landing-container #end-game-header,
    #main-content #landing-container #end-game-header {
      grid-row-start: 1;
      grid-column-start: 2;
      display: flex;
      margin-top: 10px;
      justify-content: center;
      align-content: center;
      color: lavender; }
    html #landing-container #end-game-table,
    #main-content #landing-container #end-game-table {
      grid-row-start: 2;
      grid-column-start: 2;
      height: 100px; }
    html #landing-container #remove-game,
    #main-content #landing-container #remove-game {
      grid-row-start: 2;
      grid-column-start: 2;
      position: relative;
      height: 50px; }
    @media screen and (min-width: 1024px) {
      html #landing-container,
      #main-content #landing-container {
        position: absolute;
        left: 20%;
        width: 80%;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; } }

p {
  text-align: center; }

#alert {
  opacity: 0;
  position: fixed;
  z-index: 3;
  margin-top: 50px;
  width: auto;
  left: 30%; }
  @media screen and (min-width: 1024px) {
    #alert {
      left: 20%; } }
