//Constants:
$break: 1200px;
$navColor: cyan;

@import "./nav.scss";
@import "./gameboard.scss";

body {
  background-color: white;
  height: 100%;

  h1 {
    color: #244751;
  }
}

p {
  text-align: center;
}

#content {
  background-color: green;
  width: 40%;
  height: 100%;
}
